.memberTableDiv {
    
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    height: 100%; */
    float: left;
    position: fixed;
    width: 80%;
    margin-top: 20px;
    margin-left: 250px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.PagenDiv{
    list-style: none;
    margin-top: 500px;
    position: relative;
    margin-left: 1000px;    
}

.pagingBtn{
    padding: 5px;
    float:left;
    margin: 10px;

}

.memBtn{
    padding: 5px;
    margin-left: 10px;
    margin-top: 100px;
}

/* .memberTableCss{
    width: 100%; */
    /* border-collapse: collapse;
    table-layout: fixed;
} */

.memberTableCss > th, td {
    padding: 10px;
    height: 10px;
    text-align: center;
    /* word-break: break-all;
    table-layout: fixed; */
}

.pageDiv {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 45%;
    bottom: 30px;
}

.pagingBtn {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.pagingBtn:hover {
    cursor: pointer;
}

.num {
    border-radius: 100%;
    border-color: transparent;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
}

.num:hover {
    background-color: #99C4CA;
    color: #ffffff;
    cursor: pointer;
}