.calendarNav {
    width: 220px;
    height: 840px;
    border-right: solid 1px #cfcfcf;
}
.calendarNav > h3 {
    color: #505050;
    margin-top: 20px;
}

.calendarContainer {
    display: flex;
}

[role=presentation] {
    width: 900px;
}

.calendarNavDiv {
    margin-top: 25px;
}

.calendarNavDiv input {
    color: #505050;
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 200;
    width: 20px;
    padding-right: 100px;
}

/* label {
    padding-right: 150px;
} */