.ContentDiv {
   float:left;
   background-color: aquamarine;
   margin-top: 10px;
   width: 130vh;
   height: 90vh;
}

*{
   
}

.loginDiv{
   position: fixed;
   left: 45%;
   top: 20%;
   text-align: center;
}

.loginDiv img{
    width: 100%;
    margin-bottom: 50px;
}

.loginDiv input{
   margin-bottom: 20px;
   padding: 8px;
}

.loginDiv h3{
   text-align: center;
   
}

.loginDiv p{
   float: left;
   font-size: 16px;
}

.loginBtn{
   margin: 20px 40px;
   box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.loginBtn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.loginBtn:active {
	position:relative;
	top:1px;
}