.ContentDiv {
   float:left;
   background-color: aquamarine;
   margin-top: 10px;
   width: 130vh;
   height: 90vh;
}

.backgroundDiv {
	width: 100%;
	left: 0;
	top: 0;
	height: 100vh;
	background: linear-gradient(180deg, #71A1BC 0%, rgba(114, 218, 205, 0.5) 100%); 
}

.loginDiv{
   position: fixed;
   left: 45%;
   top: 25%;
   text-align: center;
}

.loginDiv img{
    width: 180px;
    margin-bottom: 50px;
}

.loginDiv input{
   margin-bottom: 20px;
   padding: 8px;
}

.loginDiv h3{
   text-align: left;
   
}

.loginDiv p{
   float: center;
   font-size: 16px;
}

.buttonArea {
	display: flex;

}

.loginBtn{
  	margin-top: 20px;
   	background-color:#2F535F;
	border-radius:7px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight: normal;
	padding:10px 18px;
	text-decoration:none;
}
.loginBtn:hover {
	background:linear-gradient(to bottom, #2F535F 5%, #79bbff 100%);
	background-color:#378de5;
}

.findBtn{
	
   	margin: 20px 10px 0 10px;
   	background-color:#2F535F;
	border-radius:7px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight: normal;
	padding:10px 18px;
	text-decoration:none;
}
.findBtn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

