.container {
    position: fixed;
    left: 660px;
    top: 200px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
    width: 1020px;
    height: 630px;
    padding-top: 50px;
    z-index: 100;
}

.container span {
    font-size: 30px;
    font-weight: bold;
    color: #505050;
    margin-left: 50px;
}

.table {
    width: 900px;
    margin-top: 70px;
    margin-left: 190px;
    border-collapse: collapse;
    font-size: 20px;
}

.table th {
    width: 200px;
    text-align: left;
}

.table td {
    width: 400px;
}

.table input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #e0d9d9;
}

.table select {
    width: 50px;
    height: 25px;
    text-align: center;
    margin-right: 250px;
    color: #c4bebe;
    border: 1px solid #c4bebe;
    border-radius: 5px;
}

.registBtn {
    background-color:#8cb5be;
	border-radius:12px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight: normal;
	padding:10px 18px;
	text-decoration:none;
    position: absolute;
    bottom: 90px;
    margin-left: 720px;
}

.backBtn {
    background-color:#c4bebe;
	border-radius:12px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight: normal;
	padding:10px 18px;
	text-decoration:none;
    position: absolute;
    bottom: 90px;
    margin-left: 800px;
}