.contentDiv {
    position: fixed;
    left: -50px;
    top: 35px;
    background-color: #2F535F;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
    width: 600px;
    height: 300px;
    padding-top: 50px;
    z-index: 2;
}

.contentDiv > p {
    color: #ffffff;
    margin-left: 30%;
    margin-top: 15%;
}

.goLoginBtn {
    margin: 10px 0 0 33px;
   	background-color:#ffffff;
	border-radius:5px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color: #2F535F;
	font-size:12px;
	padding:8px 30px;
    margin-left: 250px;
    font-weight: bold;
    margin-top: 100px;
}