
.HeaderDiv {
    display: flex;
    justify-content: flex-start;
    float: right;
    border-bottom: 1px solid  #C6C6C6;
    width: 86%;
    
 }

 .HeaderDiv > ul > li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 30px;
    margin-bottom:-20px;
    margin-top:-15px;
    color: #8D8D8D;

    
 }