*{
   margin: 0;
   /* padding: 0; */
}
   

.NavbarDiv {

   background-color: #739CA5;
   width: 200px;
   height: 100vh;
   border-radius: 0px 30px 30px 0px;
   float: left;
}

.logoDiv {
   padding: 28%;
   padding-bottom: 30px;
}

.Log{
   margin-top: 50px;
}

ul{
   
   list-style:none;

}

li{

   padding-bottom: 30px;
   color: #ffffff;
   font-weight: bold;
}

.Category > ul > li > a{
   text-Decoration: none;
   color: #ffffff;
   font-size: 16px;
}

.Category > ul > li > a:hover{
   color: #D34C4C;
}

