.roomSection{
    position: fixed;
    left: 500px;
    top: 100px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
    width: 1200px;
    height: 700px;
    padding-top: 25px;
    cursor: pointer;
}

.roomSection > h2 {
    text-align: center;
    color:#8d8d8d;
    border-top: 2px solid #8d8d8d;
    border-bottom: 2px solid #8d8d8d;
    padding: 20px;
    margin: 40px;
}

.roomInfoDiv{
    text-align: center;
}

.roomInfoDiv > table{
    margin-left: 385px;
    margin-top: 50px;
}

.roomBtnDiv{
    box-shadow: 1px 3px 0px 0px #dbdbdb;
	background-color:#99c4ca;
	border-radius:12px;
	border:1px solid #99c4ca;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    position: fixed;
    top:750px;
    right: 750px;
    z-index: 1;
}

.roomBtnDiv:hover{
	background-color:#739ca5;
}