.RvDiv{
    width: 180px;
    height: 200px;
    padding: 40px;
    float: left;
    text-align: center;
}

.RvDiv h6{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #8D8D8D;
    padding-left: 80px;
}