.RvDiv{
    width: 180px;
    height: 200px;
    padding: 30px;
    text-align: center;
    
}
/* 
.RvDiv th, tr, td {
    border: 1px solid #000;
} */


.RvDiv td{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #8D8D8D;
    padding-left: 80px;
}