.roomDiv{
    width: 180px;
    height: 200px;
    padding: 80px;
    float: left;
    text-align: center;
}

.roomDiv img {
    width: 260px;
    height: 180px;
    /* object-fit: contain; */
}

.roomDiv h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #8D8D8D;
    margin-left: 80px;
}