.submenu {
    width: 460px;
    height: 840px;
    border-right: solid 1px #cfcfcf;
    }

.submenu > h3 {
    color: #505050;
    margin-top: 20px;
    margin-left: 250px;
}
    
.submenuDiv {
    margin: 18px;
    margin-left: 255px;
}

.submenuDiv h4 {
    color: #505050;
    margin-bottom: 10px;
}

.submenuUl > li {
    color: #505050;
    font-size: 13px;
    font-weight: 200;
    margin-left: -26px;
}

.OffListForAdminDiv {
    position: fixed;
    left: 630px;
    top: 200px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
    width: 1100px;
    height: 600px;
    padding-top: 25px;
}

.OffListForAdminTable {
    margin-top: 20px;
    margin-left: 30px;
    width: 1030px;
    text-align: center;
    border-collapse: collapse;
}

.OffListForAdminTable th {
    border-top: 1px solid #c4bebe;
    border-bottom: 1px solid #c4bebe;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ffffff;
}

.OffListForAdminTable td {
    color: #505050;
    font-weight: normal;
    font-size: 15px;
}

.adminPageDiv {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 48%;
    bottom: 30px;
}

.OffListForAdminDiv span {
    font-size: 25px;
    color: #505050;
    margin-left: 25px;
}

.pagingBtn {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.pagingBtn:hover {
    cursor: pointer;
}

.num {
    border-radius: 100%;
    border-color: transparent;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
}

.num:hover {
    background-color: #99C4CA;
    color: #ffffff;
    cursor: pointer;
}

.resultSelect {
    width: 50px;
    text-align: center;
    float: right;
    margin: 35px 50px 25px 0;
    color: #c4bebe;
    border: 1px solid #c4bebe;
    border-radius: 5px;
}