.submenu {
    width: 460px;
    height: 840px;
    border-right: solid 1px #cfcfcf;
    }

.submenu > h3 {
    color: #505050;
    margin-top: 20px;
    margin-left: 250px;
}
    
.submenuDiv {
    margin: 18px;
    margin-left: 255px;
}

.submenuDiv h4 {
    color: #505050;
    margin-bottom: 10px;
}

.submenuUl > li {
    color: #505050;
    font-size: 13px;
    font-weight: 200;
    margin-left: -26px;
}

.offUpdateDiv {
    position: fixed;
    left: 900px;
    top: 200px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
    width: 500px;
    height: 450px;
    padding-top: 50px;
}

.offUpdateDiv span {
    font-size: 25px;
    color: #505050;
    margin-left: 190px;
}

.offUpdateDiv h5 {
    text-align: center;
    margin: 30px;
}

.offUpdateTable {
    margin-top: 40px;
    margin-left: 45px;
    width: 400px;
    border-collapse: collapse;
}

.offUpdateTable textarea {
    width: 250px;
    height: 70px;
    resize: none;
    border-radius: 5px;
    border: none;
    background-color: #e0d9d9;
}

.titleInput {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #e0d9d9;
    text-align: center;
}

.datepickerWrapper {
    display: flex;
}

.offUpdateDatepicker {
    width: 100px;
    height: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #c4bebe;
    color: #c4bebe;
}

.offUpdateTable th {
    text-align: center;
    color: #505050;
    font-size: 15px;
}

.offUpdateTable td {
    text-align: left;
    color: #505050;
    font-weight: normal;
    font-size: 15px;
}

.registBtn {
    background-color:#2F535F;
	border-radius:12px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight: normal;
	padding:10px 18px;
	text-decoration:none;
    position: absolute;
    bottom: 40px;
    margin-left: 320px;
}

.backBtn {
    background-color:#c4bebe;
	border-radius:12px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight: normal;
	padding:10px 18px;
	text-decoration:none;
    position: absolute;
    bottom: 40px;
    margin-left: 390px;
}