.HeaderDiv {
   display: flex;
   margin-right: 30px;
   border-bottom: solid 1px #cfcfcf;
   margin-bottom: 10px;
}

.HeaderDiv > ul > li {
   float: left;
   margin-left: -30px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 50px;
} 

.HeaderDiv a{
   font-size: 20px;
   text-decoration: none;
   color: #505050;
}

.HeaderDiv a:hover{
   color: #007681;
} 
 
 /* .SubmenuDiv{
    float:left;
    width: 200px;
    height: 70vh;
    padding-top: 100px;
    color: #8D8D8D;
    margin-left: 40px;
    
 }
 
 .SubmenuDiv p{
    padding-bottom: 16px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #8D8D8D;
 }
 
 .SubmenuDiv ul li{
    text-align: left;
    color: #8D8D8D;
    font-size: 14px;
 } */