.rvListDiv{
    float: left;
    width: 76%;
    margin: 40px;
    cursor: pointer;
}

.rvListDiv h2 {
    text-align: center;
    border-top: 2px solid #8d8d8d;
    border-bottom: 2px solid #8d8d8d;
    margin-left: 30px;
    margin-top: 80px;
    padding: 20px;
    color:#8d8d8d;
}

.rvtblDiv{
    position: relative;
    left: 20%;
    padding: 5px 18px;
    border-bottom: 1px solid #8D8D8D;
}

.rvtblDiv > th{
    font-size: 20px;
    color: #8D8D8D;
    padding: 18px 16px 4px;
} 

.rvPgs{

    text-align: center;
}

.pagingBtn{
    margin-top: 100px;
    margin: 60px 12px ;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: #D34C4C;
}