.roomListDiv{

    float: left;
    width: 118vh;
    margin: 10px;
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: burlywood;
}

.roomPgs{
    text-align: center;
}