.roomListDiv{
    float: left;
    width: 150vh;
    margin: 20px;
    cursor: pointer;
}

.roomListDiv h2 {
    text-align: center;
    border-top: 2px solid #8d8d8d;
    border-bottom: 2px solid #8d8d8d;
    margin-left: 30px;
    margin-top: 70px;
    padding: 20px;
    color:#8d8d8d;
}

.pagingBtn{
    
    margin-left: 50px;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    float: left;
    /* position: fixed; */
    margin-top:200px;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: #D34C4C;
}

.rmInsertBtn{
    box-shadow: 1px 3px 0px 0px #dbdbdb;
	background-color:#99c4ca;
	border-radius:12px;
	border:1px solid #99c4ca;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    position: fixed;
    top:180px;
    right: 300px;
    
}
.rmInsertBtn:hover {
	background-color:#739ca5;
}
