.DetailDiv{
    float: left;
    margin: 50px;
    padding-left: 20px;
    width: 65%;
}

.DetailDiv > h2{
    text-align: center;
    border-top: 2px solid #8d8d8d;
    border-bottom: 2px solid #8d8d8d;
    color:#8d8d8d;
    margin-bottom: 50px;
    padding: 20px;
} 

.imgsDiv{
    float: left;
    width: 400px;
    margin-left: 120px;
}

.imgsDiv > img{
    width: 500px;
    height: 320px;
}

.imgName{
    color:#8d8d8d;
    text-align: center;
    margin-left: 120px;
    font-size: 18px;
    font-weight: bold;
}

.editDiv{
    float: left;
    width: 340px;
    margin-left: 280px;
}

.editTable{
    width:100%;
    font-size: 20px;
    font-weight: bold;
    color:#353535;
    padding: 20px;
}

.editDiv > button {
    margin-left: 60px;
}

.roomResBtn{
    box-shadow: 1px 3px 0px 0px #dbdbdb;
	background-color:#99c4ca;
	border-radius:12px;
	border:1px solid #99c4ca;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    margin-left: 70px;
}
.roomResBtn:hover {
	background-color:#739ca5;
}
.roomResBtn:active {
	position:relative;
	top:1px;
}